@font-face {
  font-family: vazirmatn;
  src: url(../assets/fonts/vazirmatn/Vazirmatn-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn;
  src: url(../assets/fonts/vazirmatn/Vazirmatn-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn;
  src: url(../assets/fonts/vazirmatn/Vazirmatn-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn;
  src: url(../assets/fonts/vazirmatn/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
