*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
